In [2]:
import numpy as np
import seaborn as sn
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
import tensorflow.keras as keras
%matplotlib inline

In [34]:
df = pd.read_csv('./datasets/kindey_stone_urine.csv')

In [35]:
df

    gravity    ph  osmo  cond  urea   calc  target
0     1.021  4.91   725  14.0   443   2.45       0
1     1.017  5.74   577  20.0   296   4.49       0
2     1.008  7.20   321  14.9   101   2.36       0
3     1.011  5.51   408  12.6   224   2.15       0
4     1.005  6.52   187   7.5    91   1.16       0
..      ...   ...   ...   ...   ...    ...     ...
74    1.025  7.90   721  23.6   301   9.04       1
75    1.017  4.81   410  13.3   195   0.58       1
76    1.024  5.40   803  21.8   394   7.82       1
77    1.016  6.81   594  21.4   255  12.20       1
78    1.015  6.03   416  12.8   178   9.39       1

[79 rows x 7 columns]

In [36]:
dfx = df.drop(columns=['target'],axis='1')

In [37]:
dfx

    gravity    ph  osmo  cond  urea   calc
0     1.021  4.91   725  14.0   443   2.45
1     1.017  5.74   577  20.0   296   4.49
2     1.008  7.20   321  14.9   101   2.36
3     1.011  5.51   408  12.6   224   2.15
4     1.005  6.52   187   7.5    91   1.16
..      ...   ...   ...   ...   ...    ...
74    1.025  7.90   721  23.6   301   9.04
75    1.017  4.81   410  13.3   195   0.58
76    1.024  5.40   803  21.8   394   7.82
77    1.016  6.81   594  21.4   255  12.20
78    1.015  6.03   416  12.8   178   9.39

[79 rows x 6 columns]

In [38]:
dfy = df.target
dfy

0     0
1     0
2     0
3     0
4     0
     ..
74    1
75    1
76    1
77    1
78    1
Name: target, Length: 79, dtype: int64

In [39]:
dfx.osmo.max()

1236

In [40]:
dfx.head()

   gravity    ph  osmo  cond  urea  calc
0    1.021  4.91   725  14.0   443  2.45
1    1.017  5.74   577  20.0   296  4.49
2    1.008  7.20   321  14.9   101  2.36
3    1.011  5.51   408  12.6   224  2.15
4    1.005  6.52   187   7.5    91  1.16

In [41]:
dfx.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 79 entries, 0 to 78
Data columns (total 6 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   gravity  79 non-null     float64
 1   ph       79 non-null     float64
 2   osmo     79 non-null     int64
 3   cond     79 non-null     float64
 4   urea     79 non-null     int64
 5   calc     79 non-null     float64
dtypes: float64(4), int64(2)
memory usage: 3.8 KB

In [42]:
from sklearn.preprocessing import StandardScaler

In [43]:
dfx.urea.max()

620

In [49]:
scaler = StandardScaler()

dfx['urea'] = scaler.fit_transform(dfx[['urea']])

dfx['osmo'] = scaler.fit_transform(dfx[['osmo']])

In [50]:
dfx.urea

0     1.354036
1     0.226918
2    -1.268238
3    -0.325139
4    -1.344912
        ...
74    0.265256
75   -0.547496
76    0.978330
77   -0.087448
78   -0.677843
Name: urea, Length: 79, dtype: float64

In [51]:
dfx

    gravity    ph      osmo  cond      urea   calc
0     1.021  4.91  0.475206  14.0  1.354036   2.45
1     1.017  5.74 -0.151894  20.0  0.226918   4.49
2     1.008  7.20 -1.236609  14.9 -1.268238   2.36
3     1.011  5.51 -0.867976  12.6 -0.325139   2.15
4     1.005  6.52 -1.804390   7.5 -1.344912   1.16
..      ...   ...       ...   ...       ...    ...
74    1.025  7.90  0.458258  23.6  0.265256   9.04
75    1.017  4.81 -0.859501  13.3 -0.547496   0.58
76    1.024  5.40  0.805705  21.8  0.978330   7.82
77    1.016  6.81 -0.079863  21.4 -0.087448  12.20
78    1.015  6.03 -0.834078  12.8 -0.677843   9.39

[79 rows x 6 columns]